// forms
label {
	font-size: rem-calc(12);
	letter-spacing: .15em;
	display: block;
	font-weight: 600;
	margin-bottom: 10px;
	cursor: pointer;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
	height: rem-calc(38);
	line-height: rem-calc(38);
	padding: rem-calc(0 13);
	border: 1px solid $gray-lt;
	min-width: 300px;
	background: lighten($gray-lt, 10%);
	border-radius: 2px;
	transition: .3s all ease;
	font-size: rem-calc(15);

	&:focus {
		outline: none;
		box-shadow: 0 0 3px rgba($primary, 1);
		border: 1px solid $primary;
		// box-shadow: inset 0 -3px 0 $primary;
		color: $gray-dk;
	}
}

textarea {
	height: auto;
}

.form-item {
	margin-top: rem-calc(8);
}

input[type="radio"] {
	margin-right: rem-calc(6);

	+ label {
		text-transform: none;
		letter-spacing: 0;
		display: inline-block;
		font-size: rem-calc(15);
		font-weight: 400;
	}
}













