////////////////////////////////
// pattern library
////////////////////////////////


// global elements
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
	max-width: 100%;
}

.font-display {
	font-size: rem-calc(20);
}

a {
	color: $primary;
	text-decoration: none;
	transition: all .3s;

	&:hover,
	&.active {
		color: darken($primary, 10%);
	}
}

// pattern library layout
header {
	position: relative;
	z-index: 100;
	background: rgba(#f7f7f7, .95);
	border-bottom: 1px solid #ddd;
	line-height: 60px;
	padding: 0 30px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	img {
		vertical-align: middle;
		max-width: 200px;

		+ span {
			display: inline-block;
			margin: 0 20px;
		}
	}

	span {
		font-size: rem-calc(11);
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: .2em;
	}
}
#content,
#sidebar {
	position: relative;
}

#content {
	width: 70%;
	left: 30%;
}

#sidebar {
	position: fixed;
	width: 30%;
	padding-right: 20px;
	width: 300px;
	top: 120px;

	li {
		list-style: none;
		line-height: rem-calc(40);
		border-bottom: 1px solid #eee;
	}

	a {
		display: block;

		&:hover,
		&.active {
			padding-left: 10px;
		}
	}
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

section {
	padding-bottom: 100px;
}

.block {
	margin-bottom: 50px;
}

.headings {
	ul {
		padding: 0;
		margin: 0;
	}

	li {
		list-style: none;
		line-height: 60px;
	}
	h1,h2,h3,h4,h5 {
		margin: 0;
	}
}

.buttons-lg,
.buttons-sm {
	ul {
		padding: 0;
	}

	li {
		list-style: none;
		display: inline-block;
		padding: 0 20px;

		&:first-child {
			padding-left: 0;
		}
	}
}

.buttons-lg {
	margin-bottom: rem-calc(20);
}


// buttons
button {
	display: inline-block;
	transition: background .3s ease, color .3s ease, box-shadow .3s ease, border .3s ease;
	position: relative;
	border-radius: 3px;
	font-size: rem-calc(13);

	&:active {
		top: 1px;
		box-shadow: none;
	}

	&.primary {
		background: $primary;
		color: #fff;
		border: 1px solid darken($primary, 10%);
		box-shadow: 0 1px 0 darken($primary, 10%);
		text-transform: uppercase;
		letter-spacing: .15em;
		font-weight: 400;
		position: relative;

		&.small {
			font-size: rem-calc(12);
		}

		&:hover {
			background: lighten($primary, 10%);
		}

		&:active {
			background: darken($primary, 15%);
			box-shadow: inset 0 0 2px rgba(0,0,0,.40);
			border-color: darken($primary, 25%);
		}
	}

	&.secondary {
		background: #fff;
		color: $primary;
		border: 1px solid darken($gray-lt, 10%);
		font-size: rem-calc(14);
		letter-spacing: .05em;
		font-weight: 600;
		border-radius: 2px;
		box-shadow: 0 1px 0 darken($gray-lt, 10%);

		&:hover {
			background: lighten($gray-lt, 8%);
		}

		&:active {
			background: darken($gray-lt, 25%);
			color: #fff;
			box-shadow: inset 0 0 2px rgba(0,0,0,.30);
			box-shadow: inset 0 0 4px rgba(0,0,0,.3);
			border-color: darken($gray-lt, 35%);
		}

		&.disabled {
			color: lighten($gray, 30%);
		}

		&.small {
			font-size: rem-calc(12)
		}
	}

	&.disabled {
		border: 1px solid darken($gray-lt, 10%);
		box-shadow: 0 1px 0 darken($gray-lt, 10%);
		pointer-events: none;
		background: $gray-lt;
		cursor: default;
		color: lighten($gray, 30%);

		&:hover {
			background: $gray-lt;
		}
	}

	&.small {
		padding: rem-calc(0 20);
		line-height: rem-calc(35);
		height: rem-calc(36);
	}

	&.large {
		padding: rem-calc(0 30);
		line-height: rem-calc(45);
		height: rem-calc(46);
	}

	&:focus {
		outline: none;
	}
}


// toggle buttons
.toggle {
	ul {
		padding: 0;
	}

	li {
		list-style: none;
		display: inline-block;
	}
}

.button-toggle {
	li {
		margin-left: -4px;
	}

	li:first-child {
		button {
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
		}
	}

	button {
		background: #fff;
		color: $primary;
		height: 35px;
		line-height: 34px;
		padding: rem-calc(0 25);
		min-width: 0;

		&.active {
			background: darken($gray-lt, 25%);
			box-shadow: none;
			position: relative;
			top: 1px;
			color: #fff;
			box-shadow: inset 0 0 4px rgba(0,0,0,.3);
			border-color: darken($gray-lt, 35%);
		}
	}
}


// alerts
.alert {
	padding: rem-calc(10 13);
	margin-bottom: rem-calc(20);
	border: 1px solid #ddd;
	background: #fafafa;
	border-radius: 2px;
	font-size: rem-calc(14);

	&.info {
		background: lighten($info, 50%);
		color: darken($primary, 20%);
		border-color: lighten($primary, 25%);
	}

	&.success {
		background: lighten($success, 50%);
		border-color: $success;
		color: darken($success, 20%);
	}

	&.warning {
		background: lighten($warning, 40%);
		border-color: $warning;
		color: darken($warning, 25%);
	}

	&.error {
		background: lighten($error, 55%);
		border-color: $error;
		color: darken($error, 5%);
	}
	p {
		margin: 0;
	}
}