// colors
$primary: #37BAA6;
$secondary: #89A6A2;
$black: #111;
$white: #fff;
$smoke: #eee;
$gray-lt: #ddd;
$gray: #aaa;
$gray-med: #777;
$gray-dk: #333;


// alert colors
$success: #26C136;
$warning: #FFA719;
$error: #B43212;
$info: #009ADE;


// typography
$global-font-size: 100%;
$line-height: 1.5;
$base-font-size: rem-calc(13);






























