<section id="alerts">
    <h2>Alerts</h2>

    <div class="alert">
        <p><strong>Here’s a standard message box.</strong> Just to say stuff.</p>
    </div>
    <div class="alert info">
        <p><strong>Here’s some info.</strong> It may come in handy at some point.</p>
    </div>
    <div class="alert success">
        <p><strong>Way to go!</strong> You just created something.</p>
    </div>
    <div class="alert warning">
        <p><strong>Watch out!</strong> Something doesn’t seem right…</p>
    </div>
    <div class="alert error">
        <p><strong>Uh oh!</strong> I think you just deleted something on accident…</p>
    </div>
</section>