<section id="colors">
    <h2>Colors</h2>

    <div class="palette primary block">
        <ul>
            <li class="a"><i></i>Primary<br />#HEXVALUE</li>
            <li class="b"><i></i>Secondary<br />#HEXVALUE</li>
            <li class="c"><i></i>Primary Black<br />#HEXVALUE</li>
            <li class="d"><i></i>Primary White<br />#HEXVALUE</li>
            <li class="e"><i></i>Gray Dark<br />#HEXVALUE</li>
            <li class="f"><i></i>Gray Medium<br />#HEXVALUE</li>
            <li class="g"><i></i>Gray<br />#HEXVALUE</li>
            <li class="h"><i></i>Gray Light<br />#HEXVALUE</li>
        </ul>
    </div>
</section>