<section id="forms">
    <h2>Forms</h2>

    <div class="text-field block">
        <span class="label patternLabel">Text Field</span>
        <label for="name">Name</label>
        <input id="name" type="text" name="name">
    </div>

    <div class="select-field block">
        <span class="label patternLabel">Select Box</span>
        <label>Favorite Color</label>
        <select>
            <option value="red">Red</option>
            <option value="orange">Orange</option>
            <option value="yellow">Yellow</option>
            <option value="green">Green</option>
        </select>
    </div>

    <div class="radio-buttons block">
        <span class="label patternLabel">Radio Buttons</span>
        <form>
            <label>Select an Option</label>
            <div class="form-item">
                <input type="radio" id="one" name="select" value="one" checked>
                <label for="one">Option 1</label>
            </div>
            <div class="form-item">
                <input type="radio" id="two" name="select" value="two">
                <label for="two">Option 2</label>
            </div>
            <div class="form-item">
                <input type="radio" id="three" name="select" value="three">
                <label for="three">Option 3</label>
            </div>
        </form>
    </div>

    <div class="checkboxes block">
        <span class="label patternLabel">Checkboxes</span></span>
        <form>
            <div class="form-item">
                <input type="checkbox" id="checkbox" name="checkbox" value="one">
                <label for="checkbox">Please agree to the terms and conditions.</label>
            </div>
        </form>
    </div>

    <div class="textarea block">
        <span class="label patternLabel">Textarea</span>
        <label for="message">Message</label>
        <textarea id="message" name="textarea" rows="5" cols="75" placeholder="Type your message here"></textarea>
    </div>
</section>