// pattern library layout
body {
	padding-top: rem-calc(140);
}

main {
	padding: rem-calc(0 15);
}

.patternLabel {
	font-size: rem-calc(12);
	color: shade($gray, 15%);
	letter-spacing: .03em;
	margin-bottom: rem-calc(10);
	display: inline-block;
}

header {
	position: relative;
	z-index: 100;
	background: rgba($gray-lt, .95);
	border-bottom: 1px solid shade($gray-lt, 6%);
	padding: rem-calc(15 20);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	@include breakpoint(medium) {
		padding: rem-calc(20 30);
	}

	img {
		vertical-align: middle;
		max-width: 200px;
	}

	span {
		font-size: rem-calc(11);
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: .2em;
		display: block;
		line-height: normal;
		margin-top: rem-calc(10);

		@include breakpoint(medium) {
			display: inline-block;
			margin-top: 0;
			margin-left: rem-calc(20);
			border-left: 1px solid $gray;
			padding-left: rem-calc(20);
		}
	}
}
#content,
#sidebar {
	position: relative;
}

#content {

	@include breakpoint(medium) {
		width: 70%;
		left: 30%;
	}
}

#sidebar {
	position: fixed;
	width: 100%;
	left: 0;
	padding-right: 20px;
	top: 120px;
	display: none;

	nav {
		padding-right: 20px;
		width: 30%;
	}

	@include breakpoint(medium) {
		display: block;
	}

	li {
		list-style: none;
		line-height: rem-calc(40);
		border-bottom: 1px solid $gray-lt;
	}

	a {
		display: block;

		&:hover,
		&.active {
			padding-left: 10px;
		}
	}
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

section {
	padding-bottom: 100px;
}

.block {
	margin-bottom: 50px;
}

.headings {
	ul {
		padding: 0;
		margin: 0;
	}

	li {
		list-style: none;

		> * {
			line-height: rem-calc(70);
		}
	}
	h1,h2,h3,h4,h5 {
		margin: 0;
	}
}

footer {
	background: $gray-lt;
	padding: rem-calc(60 30);
	text-align: center;
	border-top: 1px solid shade($gray-lt, 6%);
}