// colors
$primary: #AD58BF;
$secondary: #FFB433;
$primaryBlack: #333333;
$primaryWhite: #F6EEF8;
$gray-lt: #F2F2F2;
$gray: #C5C5C5;
$gray-med: #7A7A7A;
$gray-dk: #444444;


// alert colors
$success: #26C136;
$warning: #FFA719;
$error: #B43212;
$info: #009ADE;


// typography
$global-font-size: 100%;
$line-height: 1.5;
$base-font-size: rem-calc(16);