@CHARSET "UTF-8";
.sbHolder{
  background-color: white;
  border: 1px solid shade($gray-lt, 10%);
  font-size: 15px;
  height: 38px;
  position: relative;
  width: 300px;
  transition: all .3s ease;

  &:hover {
    background-color: tint($gray-lt, 50%);
    border-color: shade($gray-lt, 10%);
  }

  &:after {
    content: "\f0dd";
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    right: 13px;
    top: 8px;
    pointer-events: none;
  }
}


.sbSelector{
  display: block;
  height: 30px;
  left: 0;
  line-height: 38px;
  outline: none;
  overflow: hidden;
  position: absolute;
  text-indent: 10px;
  top: 0;
  width: 270px;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
  color: $gray-med;
  outline: none;
  text-decoration: none;
}
.sbToggle{
  display: block;
  height: 38px;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
}

.sbHolderDisabled{
  background-color: $gray-lt;
  border: solid 1px $gray;
}
.sbHolderDisabled .sbHolder{
  
}
.sbHolderDisabled .sbToggle{
  
}
.sbOptions{
  background-color: white;
  border: 1px solid shade($gray-lt, 10%);
  list-style: none;
  left: -1px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 36px !important;
  width: 300px;
  z-index: 1;
  overflow-y: auto;
  transition: border-color .3s ease;
}
.sbOptions li{
  padding: 0;
}
.sbOptions a{
  display: block;
  outline: none;
  padding: rem-calc(9 13);
}
.sbOptions a:link, .sbOptions a:visited{
  color: $gray-med;
  text-decoration: none;
}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
  background: $primary;
  color: white;
}
.sbOptions li.last a{
  border-bottom: none;
}
.sbOptions .sbDisabled{
  border-bottom: dotted 1px $gray-med;
  color: $gray-dk;
  display: block;
  padding: 7px 0 7px 3px;
}
.sbOptions .sbGroup{
  border-bottom: dotted 1px $gray-med;
  color: $gray-lt;
  display: block;
  font-weight: bold;
  padding: 7px 0 7px 3px;
}
.sbOptions .sbSub{
  padding-left: 17px;
}